$black: rgba(black, 0.87);

// PRIMARY
$purple_50: #F3E5F5;
$purple_100: #E1BEE7;
$purple_200: #CE93D8;
$purple_300: #BA68C8;
$purple_400: #AB47BC;
$purple_500: #9C27B0;
$purple_600: #8E24AA;
$purple_700: #7B1FA2;
$purple_800: #6A1B9A;
$purple_900: #4A148C;

$purple_A100: #EA80FC;
$purple_A200: #E040FB;
$purple_A400: #E040FB;
$purple_A700: #AA00FF;

// ACCENT
$green_50: #e7f5e5;
$green_100: #c6e6c0;
$green_200: #a1d798;
$green_300: #7ac86d;
$green_400: #5cbc4c;
$green_500: #3cb027;
$green_600: #31a11e;
$green_700: #228f10;
$green_800: #107e00;
$green_900: #006000;

$green_A100: #9eda94;
$green_A200: #74cd66;
$green_A400: #23b609;
$green_A700: #009400;

// DANGER
$red_50: #FFEBEE;
$red_100: #FFCDD2;
$red_200: #EF9A9A;
$red_300: #E57373;
$red_400: #EF5350;
$red_500: #F44336;
$red_600: #E53935;
$red_700: #D32F2F;
$red_800: #C62828;
$red_900: #B71C1C;

$red_A100: #FF8A80;
$red_A200: #FF5252;
$red_A400: #FF1744;
$red_A700: #D50000;