.login-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;

    @media screen and (max-width: 600px) {
        grid-template-columns: 1fr;
    }
}

.login-card {
    padding: 32px;

    @media screen and (max-width: 600px) {
        padding: 4px;
    }
}

.side-art {
    @media screen and (min-width: 600px) {
        padding: 32px;
    }
}