<header>
    <mat-toolbar color="primary">
        <button mat-icon-button [matMenuTriggerFor]="mobileMenu" class="mobile-menu-button">
            <mat-icon>menu</mat-icon>
        </button>
        <mat-menu #mobileMenu="matMenu">
            <a mat-menu-item routerLink="/">Home</a>
            <a mat-menu-item routerLink="/photos">Photos</a>
        </mat-menu>
        <div class="brand">
            <h1>Instagram Clone</h1>
        </div>
        <nav class="desktop-nav">
            <button mat-button routerLink="/">Home</button>
            <button mat-button routerLink="/photos">Photos</button>
        </nav>
    </mat-toolbar>
</header>